<h1> My Todo's</h1>
<div class="container">
  <div class="alert alert-success" *ngIf="message">{{message}}</div>
  <table class="table todos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Is it done?</th>
        <th>Target Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.done }}</td>
        <td>{{ item.date | date |uppercase }}</td>
        <td><button (click)="updateTodo(item.id)" class="btn btn-success">Update</button> <button class="btn btn-danger" (click)="deleteTodo(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button (click)="addToDo(-1)" class="btn btn-success">Add</button>
  </div>
</div>
